.screen-header{
    padding: var(--horizontal-space);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.screen-header__title{
    font-size: 32px;
    font-weight: 600;
}
.screen-header__icons span{
    margin-left: 20px;
    
}
.friends-screen{
    padding: 0px var(--horizontal-space);
}